
# Created by https://www.gitignore.io/api/crystal,visualstudiocode
# Edit at https://www.gitignore.io/?templates=crystal,visualstudiocode



### Crystal ###
/docs/
/lib/
/bin/
/.shards/
*.dwarf
/examples/*/bin/
/examples/*/lib/
/examples/*/.shards/
/examples/_build/

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
#/shard.lock

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/crystal,visualstudiocode