name: Ubuntu - Build Examples
on: [push, pull_request]
jobs:
  build:
    name: Ubuntu - Build Examples
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v2
      - name: Install Crystal
        uses: oprypin/install-crystal@v1
      - name: Install Crystal libs
        run: shards install
      - name: sudo apt-get update
        run: apt-get update
      - name: run install script
        run: sh ./rsrc/native/ubuntu/install.sh
      - name: build examples
        run: crystal run rsrc/build-examples/build.cr
